.thing {
  display: flex;
  justify-content: space-between;
}


.block {
  background-color: #627d4d;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 9px;
  padding: 30px 40px;
  text-align: center;

}

.header {
    background-color: #1f3b08;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

h1 {
  font-size: 30px;
  color: black;
  text-align: center;
}

#Home_Btn{
 float:left;
 margin-top:7px;
 position: sticky;
 width: auto;
 color: #ecf0f1;
 text-decoration:none;
 border-radius:5px;
 border: solid 1px;
 background: rgba(248,248,248,0.65);
 text-align:center;
 color:black;
 font-size:12px;
 padding:10px 10px 10px;
 -webkit-transition: all 0.1s;
 -moz-transition: all 0.1s;
 transition: all 0.1s;

}
#Home_Btn a {
  text-decoration: none;
  color: black;
}

.button {
  float:right;
  margin-top:7px;
  position:relative;
 width: auto;
 text-decoration:none;
 background: rgba(0, 0, 0, 0);
 padding:10px 10px 10px;

}
.button a {
  text-decoration: none;
  color: none;
}

#blank_Btn{
  float: right;
  background-color: Transparent;
   background-repeat:no-repeat;
   color: Transparent;
   border: none;
   cursor:pointer;
   overflow: hidden;
   outline:none;
}
