<html>
  <head>
    <title> Check List </title>
    <link rel = "shortcut icon" href="/resources/favicon.ico" type="image/x-icon">
    <link rel = "stylesheet" href = "resources/templatechecklist.css">
  </head>
<section id="List1">
    <body id="body">
      <div id="myDIV" class="header">
        <h2> Dorm Essentials </h2>

      </div>
      <div id="results"></div>
      <ul id="myUL">
        <li> Bedding </li>
        <li> Shower Shoes </li>
        <li> Shower Cap </li>
        <li> Money </li>
        <li> Bouncy Chair </li>
        <li> Alarm clock </li>
      </ul>
    </section>
  </body>
</html>
