<html>
<head>
  <title> List of Check Lists </title>
  <link rel = "shortcut icon" href="/resources/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/resources/mylists.css">
</head>
<body id="body">
   <div id="myDIV" class="header">
     <button class=button  id= "Home_Btn"><a href = "/">Return to Homepage </a></li></button>
     <!-- Igorne the text inside button it just filler to make it  -->
         <button   class="button" id= "blank_Btn"></li>Return to homePage</button>
    <h2> Lists </h2>
    <input type="text" id="myInput" placeholder="Add List...">
    <button id = "new_list" onclick="newCheckList();" class="addBtn">Add</button>
  </div>

  <div id="results"></div>
  <ul id="myUL"></ul>

  <!-- <section id="parent">
  <div><img class="giphy-embed" src='https://media.giphy.com/media/xUPGckf0nsC2ytuuL6/giphy.gif'></div>
  <div><img class="giphy-embed" src='https://media.giphy.com/media/xUPGckf0nsC2ytuuL6/giphy.gif'></div>
  <div><img class="giphy-embed" src='https://media.giphy.com/media/xUPGckf0nsC2ytuuL6/giphy.gif'></div>
  <div><img class="giphy-embed" src='https://media.giphy.com/media/xUPGckf0nsC2ytuuL6/giphy.gif'></div>
  <div><img class="giphy-embed" src='https://media.giphy.com/media/xUPGckf0nsC2ytuuL6/giphy.gif'></div>
  <div><img class="giphy-embed" src='https://media.giphy.com/media/xUPGckf0nsC2ytuuL6/giphy.gif'></div>
  </section> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src ="/resources/mylists.js"></script>

</div>
</body>
</html>
