<!DOCTYPE html>
<html>
    <head>
        <title>HTML5 Application Development</title>
        <<link rel = "stylesheet" href = "/resources/notes.css">
      </head>
    </head>
    <body>
      <ul>
    <li>
      <a href="#">
        <input type="text" id="myInput" placeholder="Note #3">
        <p>Text Content #1</p>
      </a>
    </li>
    <li>
      <a href="#">
        <input type="text" id="myInput" placeholder="Note #2...">
        <p>Text Content #2</p>
      </a>
    </li>
    <li>
      <a href="#">
        <input type="text" id="myInput" placeholder="Note #3 ...">
        <p>Text Content #3</p>
      </a>
    </li>
    <li>

  </ul>


    </body>
</html>
