<html>
  <head>
    <title> Check List </title>
    <link rel = "shortcut icon" href="/resources/favicon.ico" type="image/x-icon">
    <link rel = "stylesheet" href = "resources/templatechecklist.css">
  </head>
</section id="List1">
    <body id="body">
      <div id="myDIV" class="header">
        <h2> School Supplies  </h2>

      </div>
      <div id="results"></div>
      <ul id="myUL">

        <li contenteditable="true"> Laptop </li>
        <li contenteditable="true"> Binder </li>
        <li contenteditable="true"> Pen and Pencils  </li>
        <li contenteditable="true"> Day Planner </li>

      </ul>
      <section>
  </body>
</html>
