<html>
  <head>
    <title> Playlists </title>
    <link rel = "shortcut icon" href="/resources/favicon.ico" type="image/x-icon">
    <link rel = "stylesheet" href = "/resources/spotify.css">
    <link rel="stylesheet" href="/resources/moneyrain.css">
  </head>
<body>
<div id = "wrapper">
  <div id="myDIV" class="header">
    <button id= "Home_Btn"><a href = "/"> Return to Homepage </a></button>
    <button class="button" id= "blank_Btn"> placeholder text </button>
    <h2> Essential College Playlists  </h2>
  </div>
    <!-- <div id='centered_button'><button class='button' id='test_button'> Test Button</a></button></div> -->
    <div><button class='button' id= "Rain_button">Make It Rain</button></div>
    <div class = "thing">
        <section>
          <div class = "block">
            <h1> The Party Playlist </h1>
          </div>
          <iframe src = "https://embed.spotify.com/user/bumsimba/playlist/75b5saqcbfNY7JDyGWH21b" width="350" height = "500" allowtransparent = "True"></iframe>
        </section>
        <section>
          <div class = "block">
            <h1> The Study Playlist </h1>
          </div>
          <iframe src = "https://embed.spotify.com/user/bumsimba/playlist/4CLOG9Elka3LgoEXnA1KYB" width="350" height = "500" allowtransparent = "True"></iframe>
        </section>
        <section>
          <div class = "block">
          <h1> The Kanye Playlist </h1>
          </div>
          <iframe src = "https://embed.spotify.com/user/bumsimba/playlist/4V9GFjxpusdSvqW8MK01ys" width="350" height = "500" allowtransparent = "True"></iframe>
        </section>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

 <script src ="/resources/mylists.js"></script>
   <script src ="/resources/moneyrain.js"></script>
  </body>
</html>
